@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?9s4vcx');
  src:  url('icomoon.eot?9s4vcx#iefix') format('embedded-opentype'),
    url('icomoon.ttf?9s4vcx') format('truetype'),
    url('icomoon.woff?9s4vcx') format('woff'),
    url('icomoon.svg?9s4vcx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e907";
}
.icon-pen:before {
  content: "\e908";
}
.icon-blog:before {
  content: "\e909";
}
